/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

body,
html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'cairo"', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

header {
	background-image: url("img/Home%20Background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: space-between;
}
/* Fatima's csss */
/* header a {
    
    text-decoration: none;
    color: #F15F46;
    font-size: 1.2em;
     margin-top: 10px;
    margin-left: 10px;
    
} */

#menu {
	color: #f15f46 !important;
}

#menu a {
	text-align: center;
	color: #f15f46;
	font-family: 'cairo', sans-serif;
	font-weight: 600;
}

/* A little solution to the menu */
#nav-active {
	color: white;
	background-color: #f15f46;
	border-radius: 20em;
	padding: 0rem 0.8rem 0rem 0.8rem;
}
#nav-active a {
	color: white;
}
#nav-1 {
	margin: 0rem 4rem 0rem 4rem;
}
#nav-2 {
	margin: 0rem 4rem 0rem 2rem;
}
#nav-3 {
	margin: 0rem 4rem 0rem 2rem;
}

.description {
	position: absolute;
	top: 36%;
	left: 10%;
}

.description h3 {
	letter-spacing: 0.08em;
	line-height: 1.3;
	font-family: 'cairo', sans-serif;
	font-weight: 900;
	color: #0a303a;
}
#education {
	font-size: 1.5em;
	font-family: 'cairo', sans-serif;
	font-weight: semi-bold;
	color: #0a303a;
}
/* fatimma's button */
/* .button {
	border-radius: 15rem;
	padding: 0.8rem 1.8rem 0.8rem 1.8rem;
	background-color: #f15f46;
	border-style: none;
	font-family: 'cairo', sans-serif;
	font-weight: bold;
} */
#description-a {
	text-decoration: none;
	border-radius: 15rem;
	padding: 0.8rem 1.8rem 0.8rem 1.8rem;
	background-color: #f15f46;
	border-style: none;
	font-family: 'cairo', sans-serif;
	font-weight: bold;
	color: white;
}
/* version mobile */
/* #desc-mobile {
	margin-bottom: 25%;
} */
#education-mobile {
	font-size: 1.5em;
	font-family: 'cairo', sans-serif;
	font-weight: semi-bold;
	color: #0a303a;
}
#description-header-mboile {
	letter-spacing: 0.08em;
	line-height: 1.3;
	font-family: 'cairo', sans-serif;
	font-weight: 900;
	color: #0a303a;
}

/**********Section1**********/
#section1 {
	background-color: #f15f46;
	color: white;
	margin-top: 0px;
	padding-top: 60px;
	padding-bottom: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-right: 0px;
}
#section1 h3 {
	text-align: center;
	letter-spacing: 1px;
	font-size: 1.3em;
	padding-bottom: 20px;
}

#section1 p {
	font-size: 1.2em;
	text-align: center;
}
/**********Section2**********/
#sec2 h3 {
	text-align: center;
	color: #fa9837;
}
/* #NS {
	font-weight: bold;
	font-size: 1.4em;
} */
/* .container {
	display: flex;
	padding-right: 20px;
	justify-content: space-between;
	
} */

#creche {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	margin-right: 30px;
	margin-left: 80px;
	border-radius: 10%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}
#garderie {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	margin-right: 30px;
	background-color: #0a303a;
	color: #949494;
	border-radius: 10%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}
#area {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	margin-right: 80px;
	border-radius: 10%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.info a {
	color: #f2b186;
	text-decoration: none;
}
.info a:hover {
	text-shadow: 2px 2px 3px #0a303a;
}
/**********Section3**********/
#NPF {
	color: #f15f46;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 40px;
	font-size: 1.4em;
}
#NPF img {
	position: relative;
}
#NPF p {
	position: absolute;
}
#containing {
	display: flex;
	flex-wrap: wrap;
}
.pontsF {
	position: relative;
}
#sec3 {
	margin-right: 4em;
	margin-left: 8em;
}
#pf1 {
	color: #fa9837;
	position: absolute;
	top: 13.3em;
	left: 4em;
}
#pf2 {
	color: #fa9837;
	position: absolute;
	top: 8em;
	left: 5.5em;
}
#pf3 {
	color: #fa9837;
	position: absolute;
	top: 13.3em;
	left: 6em;
}
#pf4 {
	color: #fa9837;
	position: absolute;
	top: 13.1em;
	left: 6em;
}
#pf5 {
	color: #fa9837;
	position: absolute;
	top: 13.1em;
	left: 3.5em;
}
#pf6 {
	color: #fa9837;
	position: absolute;
	top: 13.1em;
	left: 3em;
	font-size: 1.1em;
}
/***********section4***********/
#sec4 {
	color: white;
	position: relative;
}
#Plpo {
	background-color: #f26047;
	padding-top: 4em;
	padding-bottom: 3em;
	margin-top: 2em;
	padding-bottom: 5em;
}

#Plpo h3 {
	text-align: center;
	padding-bottom: 1.5em;
}
#Plpo p {
	text-align: center;
	padding-right: 17em;
	padding-left: 17em;
	padding-bottom: 1em;
}
.arrow1 {
	position: absolute;
	background-color: #f26047;
	border: 0.4em solid white;
	border-radius: 100%;
	/* margin-left: 37em; */
	top: 0.5rem;
	/* justify-content: center; */
}
.arrow2 {
	position: absolute;
	background-color: #f26047;
	border: 0.4em solid white;
	border-radius: 100%;
	/* margin-left: 37em; */
	bottom: -2rem;
	/* justify-content: center; */
}
#plpob {
	text-align: center;
	background-color: white;
	border-radius: 15%;
	padding: 12px 25px 12px 25px;
	margin-left: 40.5em;
	border: none;
	font-weight: bold;
}
/***************section5***************/

.number {
	background-color: #d7e836;
	color: white;
	padding: 15px 20px 15px 20px;
}
.btitle {
	color: #0a303a;
	padding-top: 17px;
	padding-bottom: 17px;
}
#Blgs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 20px;
}
#sec5 h3 {
	margin-top: 60px;
	text-align: center;
	font-weight: bold;
}
.link {
	text-decoration: none;
	color: #0a303a;
}
/**************section6************/
#sec6 {
	position: relative;
}
#sec6 h3 {
	text-align: center;
	position: absolute;
	top: 2em;
	left: 26.5em;
	color: white;
	font-size: 1.3em;
}
#enseignants {
	display: flex;
	background-color: #0a303a;
	padding-top: 6em;
	margin-top: 4em;
	padding-bottom: 3em;
}
#personI {
	background-color: #0a303a;
	border: 0.3em solid white;
	border-radius: 100%;
	position: absolute;
	margin-left: 37em;
	top: -2em;
}
.enText {
	background-color: white;
	margin-right: 2em;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	color: #01637d;
}
.prof {
	position: relative;
	margin-top: 4em;
	margin-left: 2em;
}
.imgEng {
	position: absolute;
	top: -40%;
	left: 25%;
}
