#bodi {
	height: 100vh !important;
	width: 100%;
}
#first-side {
	background-color: #0073fa;
	color: white;
	font-family: 'robot' bold;
}
#smati {
	margin-top: 16em;
	margin-left: 4rem;
}
#para {
	margin-top: 1rem;
}
#second-side {
	margin-top: 6em !important;
}
#head {
	color: #2f4858;
	width: 6em !important;
}
#head2 {
	color: #0073fa;
	width: 17rem !important;
	margin-top: 5rem;
}
#froma {
	width: 20em !important;
}
.jackInTheBox {
	animation-duration: 3s;
	animation-delay: 1s;
}
.bounceInDown {
	animation-duration: 1.5s !important;
	animation-delay: 0s;
}
#acc {
	margin-left: 8em;
}
